body {
  background-color: beige;
}

.box {
  /*border: 5px solid rgb(0, 110, 255);*/
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
}

.etched {
  transition: 1s;
  background-color: silver;
}
