body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

button {
  height: 40px;
  width: 300px;
  margin: 5px auto;
  border-radius: 100px;
  border: 1px inset black;
  font-size: 20px;
  background-color: aqua;
}

.box {
  background-color: black;
  padding: 25px;
}

#container {
  display: flex;
  justify-content: center;
}

.etched {
  transition: 1s;
  background-color: silver;
}
