body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

button {
  height: 40px;
  width: 300px;
  margin: 10px auto;
  border-radius: 100px;
  border: 1px inset black;
  font-size: 20px;
  background-color: aqua;
  box-shadow: 2px 2px grey;
  cursor: pointer;
}

button:hover {
  background-color: gold;
}

button:active {
  box-shadow: 0 0;
  transform: translate(2px, 2px);
}

.box {
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  border: 10px solid goldenrod;
  border-radius: 15px;
  margin: auto;
}

.etched {
  transition: 1s;
  background-color: gold;
}