body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  height: 40px;
  width: 300px;
  margin: 10px;
  border-radius: 100px;
  border: 1px inset black;
  font-size: 20px;
  background-color: aqua;
  box-shadow: 2px 2px grey;
  cursor: pointer;
}

button:hover {
  background-color: gold;
}

button:active {
  box-shadow: 0 0;
  transform: translate(2px, 2px);
}

.box {
  background-color: black;
  transition: 0.2s;
}

#container:hover {
  cursor:cell;
}

#container {
  display: flex;
  justify-content: center;
  border: 10px solid goldenrod;
  border-radius: 15px;
  margin: auto;
}

.top {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.reset-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.random-colors {
  display: flex;
  flex-direction: column;
}